In [2]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.read_parquet("/workspaces/parameta-data-science-test/Parameta/rates_test/data/rates_spot_rate_data.parq")

In [4]:
df.head()

                    timestamp ccy_pair  spot_mid_rate
0  2021-12-08 20:05:56.818066   EURRSD      117.57850
1  2021-12-08 21:41:10.084411   AUDCHF        0.66000
2  2021-12-09 17:20:34.180273   USDCNH        6.37819
3  2021-12-09 19:25:27.575882   AUDNZD        1.05340
4  2021-12-09 11:23:23.262809   EURRON        4.94970

In [12]:
df.shape

(13404, 4)

In [ ]:
df.describe

                        timestamp security_id     price ccy_pair
index
0      2021-12-10 07:38:07.198474        id_0  23156.00   USDVND
1      2021-12-10 07:38:07.198474        id_0  23307.00   USDVND
2      2021-12-10 07:38:06.918476        id_1  23060.00   USDVND
3      2021-12-10 07:38:06.918476        id_1  23100.00   USDVND
4      2021-12-10 17:09:32.767598        id_2     29.25   USDUAH
...                           ...         ...       ...      ...
13399  2021-12-10 17:00:59.781498     id_2087     29.94   AUDCAD
13400  2021-12-10 16:41:56.927596     id_2088      0.12   AUDCAD
13401  2021-12-10 16:41:56.927596     id_2088      0.33   AUDCAD
13402  2021-12-10 16:53:58.681465     id_2089      0.15   AUDCAD
13403  2021-12-10 16:53:58.681465     id_2089      0.68   AUDCAD

[13404 rows x 4 columns]

In [3]:
df_result = pd.read_csv("/workspaces/parameta-data-science-test/Parameta/rates_test/results/rates_result.csv")

In [5]:
df_result.head()

,ccy_pair,timestamp,price,new_price,spot_mid_rate,conversion_factor,convert_price,conversion_status
0,USDVND,2021-12-10 07:38:07.198474,23156.00,25315.60,23000.00000,10.0,True,converted
1,USDVND,2021-12-10 07:38:07.198474,23307.00,25330.70,23000.00000,10.0,True,converted
2,USDVND,2021-12-10 07:38:06.918476,23060.00,25306.00,23000.00000,10.0,True,converted
3,USDVND,2021-12-10 07:38:06.918476,23100.00,25310.00,23000.00000,10.0,True,converted
4,USDUAH,2021-12-10 17:09:32.767598,29.25,29.25,26.94642,NaN,False,no_conversion_required

In [6]:
df_stddev = pd.read_parquet("/workspaces/parameta-data-science-test/Parameta/stdev_test/data/stdev_price_data.parq")

In [4]:
df_stddev.head()

                snap_time security_id      bid      mid      ask
index
0     2021-11-01 10:00:00        id_0 -0.59000 -0.30500 -0.02000
1     2021-11-01 07:00:00        id_0 -1.13000 -0.79000 -0.45000
2     2021-11-01 08:00:00        id_0 -0.63600 -0.35000 -0.06400
3     2021-11-01 09:00:00        id_0 -0.63333 -0.34833 -0.06333
4     2021-11-01 11:00:00        id_0 -0.70000 -0.41500 -0.13000

In [5]:
df_stddev.columns

Index(['snap_time', 'security_id', 'bid', 'mid', 'ask'], dtype='object')