In [1]:
import pandas as pd 
import numpy as np

In [3]:
df_rates_price_data = pd.read_parquet("/workspaces/parameta-data-science-test/Parameta/rates_test/data/rates_price_data.parq")

In [4]:
df_rates_price_data

                        timestamp security_id     price ccy_pair
index
0      2021-12-10 07:38:07.198474        id_0  23156.00   USDVND
1      2021-12-10 07:38:07.198474        id_0  23307.00   USDVND
2      2021-12-10 07:38:06.918476        id_1  23060.00   USDVND
3      2021-12-10 07:38:06.918476        id_1  23100.00   USDVND
4      2021-12-10 17:09:32.767598        id_2     29.25   USDUAH
...                           ...         ...       ...      ...
13399  2021-12-10 17:00:59.781498     id_2087     29.94   AUDCAD
13400  2021-12-10 16:41:56.927596     id_2088      0.12   AUDCAD
13401  2021-12-10 16:41:56.927596     id_2088      0.33   AUDCAD
13402  2021-12-10 16:53:58.681465     id_2089      0.15   AUDCAD
13403  2021-12-10 16:53:58.681465     id_2089      0.68   AUDCAD

[13404 rows x 4 columns]

In [8]:
df_spot_rate = pd.read_parquet("/workspaces/parameta-data-science-test/Parameta/rates_test/data/rates_spot_rate_data.parq")

In [9]:
df_spot_rate[df_spot_rate['ccy_pair'] == 'USDVND'].sort_values(by='timestamp')

                         timestamp ccy_pair  spot_mid_rate
135451  2021-12-09 15:09:01.585158   USDVND        23020.0
88225   2021-12-09 17:11:45.924000   USDVND        22990.0
36785   2021-12-09 17:47:42.866729   USDVND        23020.0
174420  2021-12-09 23:45:16.302077   USDVND        22990.0
131955  2021-12-10 01:57:28.636720   USDVND        23010.0
48857   2021-12-10 02:09:20.611827   USDVND        23017.0
61812   2021-12-10 03:24:59.579515   USDVND        23020.0
161608  2021-12-10 05:48:16.118174   USDVND        23032.5
58279   2021-12-10 07:27:04.399915   USDVND        23000.0
142113  2021-12-10 07:53:55.537616   USDVND        22997.5
28314   2021-12-10 08:34:47.541060   USDVND        22977.5
179825  2021-12-10 08:48:12.168414   USDVND        22972.5
26298   2021-12-10 14:54:46.930764   USDVND        23020.0
149172  2021-12-10 15:10:01.383377   USDVND        23020.0
92806   2021-12-10 15:54:01.662585   USDVND        23030.0

In [2]:
df_rates_ccy = pd.read_csv("/workspaces/parameta-data-science-test/Parameta/rates_test/data/rates_ccy_data.csv")

In [3]:
df_rates_ccy.head()

  ccy_pair  convert_price  conversion_factor
0   USDVND           True               10.0
1   USDUAH          False                NaN
2   USDTWD          False                NaN
3   USDRUB          False                NaN
4   USDPHP          False                NaN

In [4]:
df_rates_ccy[df_rates_ccy['ccy_pair'] == 'USDVND']

  ccy_pair  convert_price  conversion_factor
0   USDVND           True               10.0

In [5]:
df_prices_data = pd.read_parquet("/workspaces/parameta-data-science-test/Parameta/rates_test/data/rates_price_data.parq")

In [6]:
df_prices_data.head()

                        timestamp security_id     price ccy_pair
index
0      2021-12-10 07:38:07.198474        id_0  23156.00   USDVND
1      2021-12-10 07:38:07.198474        id_0  23307.00   USDVND
2      2021-12-10 07:38:06.918476        id_1  23060.00   USDVND
3      2021-12-10 07:38:06.918476        id_1  23100.00   USDVND
4      2021-12-10 17:09:32.767598        id_2     29.25   USDUAH

In [ ]:
## new price = (â€˜existing priceâ€™/ â€˜conversion factorâ€™) + â€˜spot_mid_rateâ€™